.full-width {
  width: 100%;
}

.small {
  height: 0.875rem;
}

.full-height {
  height: 100%;
}

.medium {
  height: 1.3rem;
}

.logo {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: #204496;
}

.logoCartColor {
  color: #cd2027;
}
.portalName {
  margin: 0;
  margin-top: -8px;
  font-size: 16px;
}
