.textUppercase {
  text-transform: uppercase;
}

.tableRoot {
  width: 100%;
  overflow-x: auto;
}

.tableTrBackground {
  background: rgb(205 220 57 / 3%);
}
.tableTdTextColor {
  // font-weight: bold;
  color: rgb(17 24 39 / 74%);
}
